<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value=".\packages" />
  </config>
  <activePackageSource>
    <clear />
    <add key="nuget.nephila.com" value="https://nuget.nephila.com/nuget" />
  </activePackageSource>
  <packageRestore>
    <add key="enabled" value="true" />
  </packageRestore>
  <packageSources>
    <add key="nuget.nephila.com" value="https://nuget.nephila.com/nuget" />
    <add key="nexus.nephila.com" value="http://nexus.nephila.com/nexus/service/local/nuget/nephila-nuget/" />
    <add key="e:\nuget" value="E:\NuGet" />
  </packageSources>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <disabledPackageSources>
    <add key="nuget.nephila.com" value="true" />
    <add key="nexus.nephila.com" value="true" />
    <add key="e:\nuget" value="true" />
  </disabledPackageSources>
</configuration>
